!/files/.gitkeep
/files/*
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
.terraform*
.terraform.lock.hcl
/temp
/terraform.log
terraform.tfvars
.infracost

ansible/inventories/*
!ansible/inventories/.gitkeep


ansible/files/crc-linux-amd64.tar.xz
ansible/files/pull-secret.txt
ansible/test.yaml
